// Site Wide Mixins

@mixin flex-align($justify-content: null, $align-items: null)
  display: flex
  @if $justify-content
    justify-content: $justify-content
  @if $align-items
    align-items: $align-items

@mixin content-block($content: '')
  display: block
  content: $content
