// Site Wide Sass variables

// Recurring Colors

$wgp-grey-bg: #F6F4EF
$wgp-grey-border: #E0DED8
$wgp-lightgrey: #9C9B98
$wgp-darkgrey: #4D4D4D
$wgp-darkgrey-footer: #464542

$wgp-avatar-bg: #D8D8D8

$wgp-lightgreen: #5AE7CC
$wgp-green: #00c2b4
$wgp-green-hover: #009B90

$wgp-orange: #FF8900
$wgp-orange-hover: #E67C00
$wgp-orange-error: #EC6233
$wgp-darkorange: #FF5100
$wgp-darkorange-hover: #C53F01


// Recurring Font Families

$wgp-gilroy-font: 'Gilroy', sans-serif