// WGP About Page Summary Section

.wgp-about-summary
  padding-top: 3px

  > .inner-wrap
    @include desktop-side-padding(54px)

  .columns-wrap
    column-count: 2
    column-gap: 80px

  .summary-text
    margin-bottom: 27px

  .signature-img
    width: 202px
    margin-bottom: 15px

  .text-below-signature
    margin-bottom: 13px