// WGP Home Page Training Section

.wgp-home-training
  margin-bottom: 72px

  > .inner-wrap
    @include desktop-side-padding(36px)
    position: relative

    > *
      margin-left: 360px

  .section-tagline
    margin-bottom: 11px

  .section-title
    max-width: 720px
    margin-bottom: 29px

  .icon-wrap:before
    background: $wgp-darkorange
    opacity: .1








