// WGP Site Footer

.wgp-site-footer
  background: #464542
  color: #fff

  .inner-wrap
    @include desktop-side-padding(32px)
    @include flex-align(space-between)

  .logo-wrap
    width: 293px
    margin: 0 67px 6px 0

    p
      font-size: 14px
      line-height: 20px

  .logo-link
    display: block
    margin-bottom: 21px

  .footer-claims
    margin-bottom: 20px

  li a, .last-menu-link
    display: block
    font-size: 14px
    font-weight: 800
    line-height: 17px
    color: $wgp-green
    text-transform: uppercase
    transition: color .2s

    &:hover, &:active
      color: $wgp-green-hover

  .footer-menu
    width: 110px
    margin: 13px 70px 4px 0

    li:not(:last-child)
      margin-bottom: 16px

    li:last-child
      display: none

  .footer-title
    font-size: 20px
    line-height: 24px
    margin-top: 11px

  .contacts-wrap
    width: 194px
    margin-right: 166px

    .footer-title
      margin-bottom: 6px

    .hf-phone-link
      margin-bottom: 10px

  .socials-wrap
    flex-grow: 1

    .footer-title
      margin-bottom: 16px

    .last-menu-link
      margin-bottom: 20px


@media only screen and (max-width: 1239px)

  .wgp-site-footer

    .inner-wrap
      @include tablet-side-padding(32px)
      align-items: center

    .footer-menu
      width: 260px
      margin: 0
      column-count: 2

      li:last-child
        display: block

    .contacts-wrap, .socials-wrap
      display: none


@media only screen and (max-width: 767px)

  .wgp-site-footer

    .logo-wrap
      margin-right: 0

    .footer-menu
      display: none
