// WGP Site Header

.wgp-site-header
  background: $wgp-grey-bg
  font-weight: 800
  text-transform: uppercase
  letter-spacing: 1px

  .btn-menu-wrap
    display: none

  .menu
    display: flex
    li
      border-bottom: 1px solid $wgp-grey-border
      a
        display: block
        color: $wgp-green
        border-bottom: 1px solid transparent
        margin-bottom: -1px
        transition: color .2s, border-color .2s

      &.current-menu-item a
        border-color: $wgp-green
        color: $wgp-lightgrey

      a:hover, a:active
        color: $wgp-green-hover
        border-color: $wgp-green

  .lang-switcher
    li
      a
        font-size: 12px
        line-height: 14px
        padding-bottom: 13px

      &:first-child a
        margin-right: 15px

  .header-menu
    justify-content: flex-end
    flex-grow: 1

    li
      a
        font-size: 14px
        line-height: 17px
        padding-bottom: 4px

      &:not(:last-child) a
        margin-right: 32px


.wgp-site-header-expanded
  padding-top: 24px

  .inner-wrap
    @include flex-align(space-between)
    @include desktop-side-padding

  .logo-wrap
    @include flex-align(space-between, center)

  .logo-link
    width: 341px
    height: 92px

  .logo-img
    width: 100%

  .nav-wrap
    display: flex
    flex-direction: column
    padding-top: 14px

  .top-wrap
    @include flex-align(flex-end, center)
    margin-bottom: 32px

  .hf-phone-link
    margin-right: 38px

  .hf-icons-wrap
    margin-right: 80px


.wgp-site-header-collapsed
  @include flex-align(null, center)
  background: $wgp-grey-bg
  position: fixed
  left: 0
  top: 0
  transform: translateY(-100%)
  width: 100%
  height: 58px
  transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1)

  &.show
    transform: translateY(0)

  .inner-wrap
    @include flex-align(null, center)

  .hf-phone-link
    margin-right: 21px

  .hf-icons-wrap
    margin-right: 57px

  .header-menu li
    border-color: transparent

    &:not(:last-child) a
      margin-right: 24px


.wgp-site-header-dropdown
  display: none
  position: fixed
  margin: -4px -7px 0 0
  width: 184px
  padding: 45px 35px
  background: #fff
  border-radius: 8px
  box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, .1)
  transform-origin: 100% 0
  transform: scale(0)
  opacity: 0
  transition: transform .3s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity .15s cubic-bezier(0.785, 0.135, 0.15, 0.86)

  &.show
    transform: scale(1)
    opacity: 1

  .lang-switcher
    justify-content: center
    margin-bottom: 29px

  .header-menu
    flex-direction: column
    align-items: center

    li, li a
      border-width: 0
      padding: 0

    li:not(:last-child)
      margin-bottom: 32px

      a
        margin: 0

  .instagram-facebook
    display: none
    justify-content: center
    padding-top: 28px

    .hf-icon-link:first-child
      margin-right: 32px

  .btn-close-dropdown
    @include flex-align(center, center)
    width: 40px
    height: 40px
    background: $wgp-green
    border-radius: 50%
    position: absolute
    right: -14px
    top: 4px
    transform: translateY(-50%)
    transition: background .2s
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, .1)

    &:hover, &:active
      background: $wgp-green-hover

    .icon-close
      width: 16px



@media only screen and (max-width: 1239px)

  .wgp-site-header-expanded
    padding-top: 48px

    .inner-wrap
      @include tablet-side-padding

    .logo-link
      width: 256px
      height: 69px

    .nav-wrap
      padding-top: 16px

    .top-wrap
      margin: 0

      .btn-menu-wrap
        display: block

    .hf-icons-wrap
      margin-right: 40px

    .header-menu, .lang-switcher
      display: none

  .wgp-site-header-collapsed

    .header-menu
      display: none

    .btn-menu-wrap
      @include flex-align(flex-end)
      flex-grow: 1

  .wgp-site-header-dropdown
    display: block


@media only screen and (max-width: 1023px)

  .wgp-site-header

    .instagram-facebook
      display: none

    .wgp-site-header-dropdown .instagram-facebook
      display: flex


@media only screen and (max-width: 767px)

  .wgp-site-header .btn-menu-wrap
    display: flex

  .wgp-site-header-expanded
    padding-top: 0

    .inner-wrap
      flex-direction: column-reverse
      padding: 0

    .logo-wrap
      @include mobile-side-padding
      padding-top: 24px

    .nav-wrap
      background: #fff
      height: 46px
      padding: 0
      justify-content: center

    .top-wrap
      @include mobile-side-padding
      width: 100%
      justify-content: space-between
      margin: 0

      .btn-menu-wrap
        display: none

    .instagram-facebook, .lang-switcher, .header-menu
      display: none

    .hf-icons-wrap
      margin-right: 0

  .wgp-site-header-collapsed
    .header-menu, .instagram-facebook
      display: none
    .hf-icons-wrap
      margin-right: 0