// WGP Basic Styles

body
  font: 300 20px/28px 'Gilroy', sans-serif
  color: $wgp-dark-grey

a, a:link, a:visited
  color: inherit
  cursor: pointer

img, svg
  display: block
  height: auto

.site-wrap
  min-width: 375px
  min-height: 100vh
  display: flex
  flex-direction: column

section
  overflow: hidden

  > .inner-wrap
    @include desktop-side-padding
    width: 100%
    max-width: 1240px
    margin: 0 auto

.site-main
  //flex-grow: 1
  min-height: 200vh

.section-tagline
  font-size: 14px
  line-height: 17px
  font-weight: 800
  letter-spacing: 1.2px
  text-transform: uppercase

.section-title
  font-size: 48px
  line-height: 63px
  font-weight: 300

.body-text
  letter-spacing: 1.2px

.btn-primary
  display: inline-block
  position: relative
  border-radius: 8px

  &:before
    @include content-block
    position: absolute
    width: calc(100% - 10px)
    height: calc(100% - 10px)
    border-radius: 8px
    right: 0
    bottom: 0
    box-shadow: 0 0 16px 0 $wgp-green

  .inner-wrap
    @include flex-align(center, center)
    position: relative
    padding: 30px 40px
    border-radius: 8px
    background-color: $wgp-green
    transition: background-color .2s

  &:hover .inner-wrap
    background-color: $wgp-dark-green

  .btn-text
    font-size: 18px
    font-weight: 800
    line-height: 20px
    letter-spacing: 1.4px
    text-transform: uppercase
    margin-right: 13px
    color: #fff

  .arrow-icon
    fill: $wgp-light-green
    width: 16px
    height: 13px


@media only screen and (max-width: 1239px)
  section > .inner-wrap
    @include tablet-side-padding

@media only screen and (max-width: 767px)
  section > .inner-wrap
    @include mobile-side-padding