// WGP Basic Styles

body
  font: 300 20px/28px 'Gilroy', sans-serif
  color: $wgp-dark-grey

a, a:link, a:visited
  color: inherit
  cursor: pointer

img, svg
  display: block
  height: auto

.site-wrap
  min-width: 375px
  min-height: 100vh
  display: flex
  flex-direction: column

section > .inner-wrap
  @include desktop-side-padding
  width: 100%
  max-width: 1240px
  margin: 0 auto

.site-main
  flex-grow: 1

.section-tagline
  font-size: 14px
  line-height: 17px
  font-weight: 800
  letter-spacing: 1.2px
  text-transform: uppercase

.section-title
  font-size: 48px
  line-height: 63px

.body-text
  letter-spacing: 1.2px

.btn-primary
  display: inline-block
  background: $wgp-green
  color: #fff
  font-size: 18px
  font-weight: 800
  letter-spacing: 1.4px

@media only screen and (max-width: 1239px)
  section > .inner-wrap
    @include mobile-side-padding