// WGP Basic Styles

body
  font: 300 20px/28px $wgp-gilroy-font
  color: $wgp-darkgrey
  max-width: 100%

a, a:link, a:visited
  color: inherit
  cursor: pointer

strong
  font-weight: 800

img, svg
  display: block
  height: auto

.site-wrap
  min-width: 375px
  min-height: 100vh
  display: flex
  flex-direction: column

.site-footer-wrap
  position: relative
  z-index: 2

section
  overflow: hidden

  > .inner-wrap
    @include desktop-side-padding
    width: 100%
    max-width: 1240px
    margin: 0 auto

.site-main
  flex-grow: 1

.section-tagline
  font-size: 14px
  line-height: 17px
  font-weight: 800
  letter-spacing: 1.2px
  text-transform: uppercase

.hero-title
  font-size: 48px
  line-height: 63px
  font-weight: 300

.section-title
  font-size: 48px
  line-height: 56px
  font-weight: 300

.body-text
  letter-spacing: 1.2px

.arrow-icon
  width: 16px
  height: 13px

.btn-primary
  display: inline-block
  text-decoration: none
  position: relative
  border-radius: 8px
  border: none
  cursor: pointer
  outline: none
  transition: opacity .2s

  &[disabled]
    opacity: .65
    cursor: default

  &:before
    @include content-block
    position: absolute
    width: calc(100% - 10px)
    height: calc(100% - 10px)
    border-radius: 8px
    right: 0
    bottom: 0
    box-shadow: 0 0 16px 0 $wgp-green

  .inner-wrap
    @include flex-align(center, center)
    position: relative
    padding: 30px 40px
    border-radius: 8px
    background-color: $wgp-green
    transition: background-color .2s

  &:not([disabled]):hover .inner-wrap, &:not([disabled]):active .inner-wrap
    background-color: $wgp-green-hover

  .btn-text
    font-size: 18px
    font-weight: 800
    line-height: 20px
    letter-spacing: 1.4px
    text-transform: uppercase
    margin-right: 13px
    color: #fff

  .arrow-icon
    fill: $wgp-lightgreen

.more-link
  font-size: 18px
  line-height: 22px
  font-weight: 800
  text-transform: uppercase
  letter-spacing: 1.4px
  display: inline-flex
  align-items: center
  transition: color .2s

  .link-text
    margin-right: 4px

  .arrow-icon
    margin-bottom: 1px
    transition: fill .2s

.icon-wrap
  @include flex-align(center, center)
  width: 50px
  height: 50px
  border-radius: 50%

  .icon-tune, .icon-chat, .icon-manual, .icon-brochure
    width: 20px

  .icon-documents
    width: 19px

  .icon-stairs, .icon-website
    width: 18px

.icon-list
  display: flex
  text-align: center
  margin-bottom: 37px

  .icon-list-item
    width: 180px
    padding: 0 15px

    &:first-child
      margin-left: -15px

  .icon-wrap
    overflow: hidden
    position: relative
    margin: 0 auto 9px

    &:before
      @include content-block
      position: absolute
      width: 100%
      height: 100%
      opacity: .1

  .icon-img
    position: relative

.team-avatar-wrap
  flex-shrink: 0
  width: 80px
  height: 80px
  border-radius: 50%
  overflow: hidden
  //background: $wgp-avatar-bg
  background: $wgp-grey-bg
  margin-right: 12px

  .avatar-img
    object-fit: cover
    width: 100%
    height: 100%

.team-member-name
  font-size: 32px
  line-height: 40px
  letter-spacing: 1.6px
  margin-bottom: 7px

.wgp-2-cols-details
  padding-bottom: 16px

  > .inner-wrap
    @include desktop-side-padding(64px)
    @include flex-align(space-between)

  .block-list
    width: calc(100% * 500 / 1080)
    letter-spacing: 1.2px

  .block-list-item
    position: relative
    border-radius: 8px
    border: 1px solid $wgp-grey-border
    padding: 28px 40px

    &:not(:last-child)
      margin-bottom: 32px

  .icon-wrap
    position: absolute
    top: 19px
    left: -25px
    border: 1px solid $wgp-grey-border
    background: #fff

  .block-title
    margin-bottom: 2px
    font-weight: 800

  .check-list
    width: calc(100% * 460 / 1080)

  .section-title
    margin-bottom: 18px

  .check-list-item
    padding-left: 29px
    position: relative
    letter-spacing: 1.2px

    &:not(:last-child)
      margin-bottom: 26px

  .check-icon
    width: 20px
    height: 20px
    position: absolute
    left: 0
    top: 3px

.testimonial-list
  letter-spacing: 1.2px

  .testimonial-list-item
    position: relative
    background: $wgp-grey-bg
    border-radius: 16px

  .icon-quote
    position: absolute
    left: 10px
    top: 11px
    width: 48px

  .testimonial-text
    padding: 33px 60px 33px 40px
    position: relative

  .author-wrap
    position: absolute
    padding: 17px 23px 20px
    background: #fff
    border-radius: 8px

  .author-name
    white-space: nowrap

  .author-company
    white-space: nowrap
    margin-top: -2px
    text-transform: uppercase
    font-size: 14px
    line-height: 17px
    font-weight: 800

.wgp-form .form-label
  display: block

  &:not(:last-child)
    margin-bottom: 32px

  .label-text
    font-size: 16px
    line-height: 28px
    letter-spacing: 1px
    margin-bottom: 1px
    cursor: pointer
    transition: color .2s

  &.error-label .label-text
    color: $wgp-orange-error

  .form-field
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    display: block
    background: $wgp-grey-bg
    border-radius: 4px
    border: 1px solid $wgp-grey-border
    font-family: $wgp-gilroy-font
    font-size: 20px
    width: 100%
    padding: 10px 16px
    letter-spacing: 1.2px
    outline: none
    transition: background-color .2s, border-color .2s

    &[type=text]
      height: 48px

    &.textarea
      max-width: 100%
      min-width: 100%
      min-height: 144px

  &.error-label .form-field
    background: #F6E0D9
    border-color: $wgp-orange-error

  .form-field:active, .form-field:focus
    background: #E3F8F6
    border-color: $wgp-green


@media only screen and (max-width: 1239px)

  section > .inner-wrap
    @include tablet-side-padding

  .hero-title.smaller-on-tablet
    font-size: 32px
    line-height: 40px
    letter-spacing: 1.6px

  .wgp-2-cols-details > .inner-wrap
    @include tablet-side-padding(64px)


@media only screen and (max-width: 1023px)

  section
    overflow: visible

  .section-title
    font-size: 32px
    line-height: 40px
    letter-spacing: 1.6px

  .icon-list
    display: block
    margin: 0 0 33px 376px

    .icon-list-item
      @include flex-align(flex-start, center)
      width: 100%
      padding: 0

      &:not(:last-child)
        margin: 0 0 24px

    .icon-wrap
      margin: 0 11px 0 0

  .wgp-2-cols-details

    > .inner-wrap
      @include tablet-side-padding(40px)
      display: block

    .block-list
      width: auto
      max-width: 500px
      margin-bottom: 50px

    .check-list
      width: auto


@media only screen and (max-width: 767px)

  body
    font-size: 16px
    line-height: 24px

  section > .inner-wrap
    @include mobile-side-padding

  .section-tagline
    font-size: 12px
    line-height: 14px
    letter-spacing: 1px

  .hero-title:not(.smaller-on-tablet)
    font-size: 36px
    line-height: 48px

  .hero-title.smaller-on-tablet, .team-member-name
    font-size: 24px
    line-height: 32px
    letter-spacing: 0

  .section-title
    font-size: 24px
    line-height: 32px
    letter-spacing: 0

  .body-text
    letter-spacing: 1px

  .more-link
    font-size: 14px
    line-height: 17px
    letter-spacing: 1.2px

    .arrow-icon
      margin-bottom: 2px

  .icon-list
    margin-left: 0

  .wgp-2-cols-details

    > .inner-wrap
      @include mobile-side-padding(57px)

    .block-list
      letter-spacing: 1px

    .block-list-item
      padding: 34px 24px 26px 32px

      &:not(:last-child)
        margin-bottom: 57px

    .icon-wrap
      left: 32px
      top: -25px

    .check-list
      letter-spacing: 1px

      &:not(:last-child)
        margin-bottom: 16px

  .wgp-form .form-label

    &:not(:last-child)
      margin-bottom: 27px

    .label-text
      font-size: 14px
      letter-spacing: .88px
      margin-bottom: 3px